{% extends 'blog/base.html' %}

{% block title %}Xabarlar Qutisi - MyBlog{% endblock %}

{% block content %}
<h1 class="text-center">Xabarlar Qutisi</h1>

<div class="container mt-4">
    {% for msg in messages %}
        <div class="card mb-3">
            <div class="card-body">
                <p><b>Kimdan:</b> {{ msg.sender }}</p>
                <p>{{ msg.text }}</p>
                <p><i>{{ msg.created_at }}</i></p>
            </div>
        </div>
    {% empty %}
        <p class="text-center">Xabarlar yo‘q.</p>
    {% endfor %}
</div>
{% endblock %}
