{% extends 'blog/base.html' %}

{% block title %}{{ profile_user.username }} - Profil{% endblock %}

{% block content %}
<h1 class="text-center">Profil Sahifasi</h1>
<div class="container mt-4">
    {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" width="150">
    {% endif %}
    <p><b>Ism:</b> {{ profile_user.username }}</p>
    <p><b>Email:</b> {{ profile_user.email }}</p>
    <p><b>Bio:</b> {{ profile.bio }}</p>

    <a href="{% url 'article_list' %}" class="btn btn-primary">Bosh sahifaga qaytish</a>
    <a href="{% url 'send_message' profile_user.id %}" class="btn btn-success">Xabar yozish</a>

    {% if request.user != profile_user %}
        <a href="{% url 'add_friend' profile_user.id %}" class="btn btn-success">Do‘st Qo‘shish</a>
    {% endif %}

    <h3 class="mt-4">Do‘stlar:</h3>
    <ul>
        {% for friend in friends %}
            <li>{{ friend.friend.username }}</li>
        {% empty %}
            <p>Do‘stlar yo‘q.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
